.container{
    width: 100%;
    height: 900px;
    
}
.mb-3{
    width:35%;
    text-align: center;
    margin-left: 32%;
    border-radius: 25px;
}
.btn{
    width:35%;
    margin-left: 32%;
}


@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        
    }
    .mb-3, .btn {
        width: 100%;
        max-width: none;
        margin: 0 auto ;    
    }
    .form-label{
        width: 40%;
        font-size: 15px;
        text-align: start;
    }
}






