.container{
    width: 100%;
    height: 900px;
    
}
.mb-3{
    width:450px;
    text-align: center;
    margin-left: 32%;
    border-radius: 25px;
}
.btn{
    width:450px;
    margin-left: 32%;
}







