* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
}
.btn-danger {
  width: 150px;
  height: 45px;
  margin-left: 85%;
}
.text {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.text h1 {
  font-size: 32px;
}
.text p {
  font-size: 20px;
}
.box {
  width: 60%;
  height: 450px;
  border: 1px solid #dedada;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
.box1{
  background-color: #FDFFF2;
}
.left {
  width:40%;
  margin-top: 15px;
}
.left h3{
    margin-bottom: 20px;
}
.left img {
  width: 50%;
  height: 100px;
}

.left p {
  color: #676060;
  font-size: 24px;
}
.num {
  display: flex;
  margin-top: 10px;
}
.num h1 {
  font-size: 98px;
}
.num h5 {
  font-size: 32px;
  margin-top: 18px;
}
.rigth {
    width: 50%;
    margin-top: 15px;
  }
  .rigth h3{
    margin-bottom: 20px;
}
.box-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rigth p{
    font-size: 16px;
    color: 000000;
}
.border{
    border-top: 5px solid #807C7C;
    margin-bottom: 15px;
}
button{
 
}
.btn-primary{
  width: 150px;
  height: 45px;
  margin-top: 30px; 
  margin-left: 45%;

}